@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family:"Barlow Condensed", sans-serif;
}

 .hello {
  color: white;
 }
 a:hover {
  /* line-height: 110px; */
  border-bottom: 1px solid white;
  padding-bottom: 10%;
  color: #d0d6f9;
  text-decoration: none;
}
.svg{
  margin-top: 30px;
  position:absolute;
  margin-left: 13%; 
}
hr {
  background-color: white;
  width: 600px;
  /* height: 0.1%; */
  z-index: -1;
  margin-top: -30px;
  margin-left: 51%;
}
.navbarblur {
  margin-top: 35px;
  margin-left: 50%;
  width: 980px;
  /* height: 10px; */
  color: white;
  backdrop-filter: blur(8px);
  display: inline-block;
  list-style: none;
  padding: 40px 20px;
}
.number {
  color: grey;
  margin-top: 15%;
  margin-left: 1%;
  font-size: 30px;
  
}

.destination {
  margin-top: 15%;
  margin-left: 25%;
  font-family:"Barlow Condensed", sans-serif;
  font-size: 30px;
  color: #d0d6f9;
}
.navbar {
  margin-right: 48%;
  margin-top: 50px;
  height: 100%;
  color: white;
  float: right;
  text-align: center;
}

body {
  background-image: url("./background-crew-desktop.jpg");
  background-size: cover;
  color: #d0d6f9;
  background-repeat: no-repeat;
}
.Anousheh {
  margin-bottom: -75px;
  margin-top: 50px;
  margin-left: 120px;
  color: #d0d6f9;
}

.explanation {
  font-size: 8px;
  margin-left: 25%;
  position: absolute;
  margin-top: 10%;
  max-width: 70%;
  color: #d0d6f9;
  font-family: "Barlow Condensed Regular";
}

.space {
  font-size: 49px;
  color: white;
  font-family: "Barlow Condensed Regular";
}

.flight {
  margin-top: 10%;
  margin-left: 0%;
  font-size: 35px;
  color: #d0d6f9;
  font-family: "Barlow Condensed Regular";
}

.dot-indicators{
  margin-top: -.5rem;
  margin-left: -85px;
  padding: 20px 15px ;
}

 .dot-indicators > * {
  cursor: pointer;
  gap: 10%;
  border: 10px;
  padding: 0.5rem;
}
 

.circlebtn{
  border-radius: 50%;
  padding: 8px;
  
}

.circlebtn > *:hover,
.circlebtn > *:focus {
  background-color: hsl(var(--clr-black) / 1);
}

.circlebtn > [aria-selected=""] {
  background-color: hsl(var(--clr-white) / 0.5);
} 
