@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Barlow Condensed", sans-serif;
}

a {
  color: white;
}

.svg{
  margin-top: 20%;
  position:absolute;
  margin-left: 13%; 
}

a:hover {
  /* line-height: 110px; */
  border-bottom: 1px solid white;
  padding-bottom: 10%;
  color: #d0d6f9;
  text-decoration: none;
}
hr {
  background-color: white;
  width: 600px;
  height: 0.1%;
  z-index: -1;
  margin-top: -30px;
  margin-left: 51%;
}
.navbarblur {
  margin-top: 35px;
  margin-left: 50%;
  width: 120%;
  height: 9px;
  color: white;
  backdrop-filter: blur(8px);
  display: inline-block;
  list-style: none;
  padding: 49px 20px;
  font-size: 17px;
  font-family: "Barlow Condensed", sans-serif;
}
.number {
  color: grey;
  font-family: "Barlow Condensed", sans-serif;
}

.destination {
  margin-top: 15%;
  margin-left: 37%;
  width: 100%;
  font-family: "Barlow Condensed", sans-serif;
  color: #d0d6f9;
}
.navbar {
  margin-right: 48%;
  margin-top: 100px;
  height: 100%;
  color: white;
  float: right;
  text-align: center;
}

body {
  background-image: url("./background-technology-desktop.jpg");
  background-size: cover;
  color: #d0d6f9;
  background-repeat: no-repeat;
}
.Anousheh {
  color: #d0d6f9;
  background-size: contain;
}

.explanation {
  font-size: 8px;
  margin-left: 0%;
  position: absolute;
  margin-top: 30%;
  max-width: 82%;
  color: #d0d6f9;
  font-family: "Barlow Condensed Regular";
}
.space {
  font-size: 48px;
  color: white;
  font-family:"Barlow Condensed Regular";
}

.flight {
  font-size: 19px;
  color: #d0d6f9;
  font-family: "Barlow Condensed", sans-serif;
}
.carrier {
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
}
.cap {
  margin: 35%;
}

.btn {
  cursor: pointer;
  opacity: 1000ms;
  margin-top: 0%;
  margin-left: 30%;
  margin-bottom: 0%;
  padding: 20px 35px;
  transition: 500ms ease-in-out;
  color: white;
  border-color: white;
  font-size: 30px;
  background: none;
}
.btn {
  opacity: 1000ms;
  font-size: 30px;
  border-radius: 60%;
  padding: 20px 35px;
  color: white;
  border: 2px solid white;
  margin-top: 5%;
  margin-left: 30%;
  margin-bottom: 15%;
}
.btn:hover {
  opacity: 1000ms;
  font-size: 30px;
  padding: 20px 35px;
  color: black;
  border-color: white;
}
