@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

* {
  font-family:"Barlow Condensed", sans-serif;
}

a {
  color: white;
}
a:hover {
  color: rgb(58, 51, 51);
}
hr {
  background-color: white;
  width: 600px;
  height: 0.1%;
  z-index: -1;
  margin-top: -30px;
  margin-left: 51%;
}
.navbarblur {
  margin-top: 35px;
  margin-left: 50%;
  width: 980px;
  height: 9px;
  color: white;
  backdrop-filter: blur(8px);
  display: inline-block;
  list-style: none;
  padding: 49px 20px;
}
.number {
  color: grey;
}

.destination {
  margin-top: 15%;
  margin-left: 29%;
  font-family: "barlow-regyzz";
  color: #d0d6f9;

}
.navbar {
  margin-right: 48%;
  margin-top: 100px;
  height: 100%;
  color: white;
  float: right;
  text-align: center;
}

body {
  background-image: url("./background-crew-desktop.jpg");
  background-size: cover;
  color: #d0d6f9;
  background-repeat: no-repeat;
}
.Anousheh {
  margin-top: -50px;
  margin-left: 200px;
  color: #d0d6f9;
}

.explanation {
  font-size: 10px;
  margin-left: 12%;
  position: absolute;
  margin-top: 15%;
  width: 80%;
  color: #d0d6f9;
  font-family: "Barlow Condensed Regular";
}

.space {
  font-size: 50px;
  color: white;
}

.flight {
  margin-top: 10%;
  margin-left: 0%;
  font-size: 35px;
  color: #d0d6f9;
}
.sr-only {
  position: absolute;
  width: 5px;
  height: 5px;
  padding: 0;
  margin-top: 20px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap, pre-line;
  border: 0;
}
.dot-indicators > * {
  cursor: pointer;
  /* aspect-ratio: 1; */
  gap: 10%;
  border: 10px;
  border-radius: 50%;
  margin-bottom: 130%;
  margin-right: 8%;
  padding: 0.5rem;
}
.btn {
  position: absolute;
  width: 5px;
  height: 5px;
  padding: 0;
  margin-top: 20px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap, pre-line;
  border: 0;
}
.danger {
  position: absolute;
  width: 5px;
  height: 5px;
  padding: 0%;
  margin-top: 20px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap, pre-line;
  border: 0;
}
.insert {
  position: absolute;
  width: 5px;
  height: 5px;
  padding: 0;
  margin-top: 20px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap, pre-line;
  border: 0;
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
  background-color: hsl(var(--clr-black) / 1);
}

.dot-indicators > [aria-selected=""] {
  background-color: hsl(var(--clr-white) / 0.5);
}